.DS_Store
**/__pycache__/
/backend/.venv
/backend/venv
/backend/app/static
/backend/instance
/backend/migrations
/backend/.env
/docs/config.local.js
/.env
/.idea/
.expo/
/matchmaker-mobile/matchmate-dating-firebase-adminsdk-fbsvc-49d012fef2.json