.side-panel {
  position: fixed;
  padding-top: calc(50px + 16px);
  top: 0;
  right: -300px;
  /* Hidden by default */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidepanel-toggle {
  position: absolute;
  left: 20px;
}

.side-panel.open {
  right: 0;
}

.side-panel-content {
  padding: 20px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.dater-preview {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}
.dater-preview-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
