.bottom-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.bottom-tab button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.bottom-tab button:hover {
  color: #007bff;
}